@model asp_application1.Models.MapUnitViewModels.MapUnitIndexViewModel

@{
    ViewData["Title"] = "FilterIndex";
}

<h2>Map</h2>

<form class="form-inline" asp-controller="MapUnits" asp-action="FilterIndex">
    <div class="form-group">
        <label asp-for="ShowCity">City</label>
        <input class="form-control" asp-for="ShowCity" />
    </div>
    <div class="form-group">
        <label asp-for="ShowRoad">Road</label>
        <input class="form-control" asp-for="ShowRoad" />
    </div>
    <div class="form-group">
        <label asp-for="ShowRoad">Pass</label>
        <input class="form-control" asp-for="ShowPass" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Apply Filter</button>
    </div>
</form>

<div class="map">
    @for (int row = 1; row <= 20; row++)
    {
        <div class="map__row" data-row-index="@row">
            @for (int col = 1; col <= 20; col++)
            {
                <div class="map__unit" data-row-index="@row" data-col-index="@col"></div>
            }
        </div>
    }
</div>
<script type="text/javascript">
@foreach(var city in Model.Cities)
{
    @:$(".map__unit[data-row-index='@city.Y'][data-col-index='@city.X']").addClass('map__unit--city');
}
@foreach(var road in Model.Roads)
{
    @:$(".map__unit[data-row-index='@road.Y'][data-col-index='@road.X']").addClass('map__unit--road-@road.Orientation');
}
@foreach(var pass in Model.Passes)
{
    @:$(".map__unit[data-row-index='@pass.Y'][data-col-index='@pass.X']").addClass('map__unit--pass');
}
</script>