@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>The cost to build a city is @((int) Costs.City).</p>
<p>The cost to build a road is @((int) Costs.Road).</p>
<p>The cost to build a pass is @((int) Costs.Pass).</p>
<p>Moving a unit to a different location is free.</p>
<p>Deleting a unit is free.</p>
<p>When you first register, you will get 1,000 balance from the system.</p>
